fastapi
uvicorn
sqlmodel
bcrypt
python-jose[cryptography]
authlib
httpx
itsdangerous
python-multipart
psycopg2-binary  # PostgreSQL driver
python-dotenv    # For .env file support

# For checker.py
requests
jwt